/*
 * Hover.css - Demo Page
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Hover.css Copyright Ian Lunn 2014.
 */

/**
 * The following are default styles for the demo page,
 * you don't need to include these on your own site.
 */

body {
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 20px 20px 20px;
  font-family: sans-serif;
  color: #333;
  line-height: 140%;
}

img {
  border: none;
}

small {
    display: block;
}

p,
[class^="hvr-"] {
    font-family: 'Roboto', sans-serif;
}

[class^="hvr-"] {
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  margin: .4em;
  padding: .85em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
    color: #333;
    text-decoration: none;
}



h1 {
  text-align: center;
  font-size: 4em;
}

h2 {
  margin-top: 2em;
}
